@font-face {
    font-family: Robodron-Bold;
    src: url(../public/font/Robodron_Bold.ttf) format("truetype");
    font-weight: bolder;
    font-style: normal
}


@font-face {
    font-family: Robodron;
    src: url(../public/font/Robodron.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: NetflixSans;
    src: url(../public/font/NetflixSans.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: AndaleMono;
    src: url(../public/font/AndaleMono.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Copperplate;
    src: url(../public/font/Copperplate.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Product;
    src: url(../public/font/Product-Sans-Regular-2.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

    .container {
        width: 1200px;
        margin: 0 auto;
        overflow: hidden;
        .solgen {
            height: 780px;
            .solgen_bg {
                .solgen_bg_top {
                    position: absolute;
                    left: -300px;
                    top: 140px;
                    width: 1200px;
                    height: 50px;
                    background: #0037CD;
                    transform: rotate(153deg);
                }

                .solgen_bg_bottom {
                    position: absolute;
                    left: -300px;
                    top: 180px;
                    width: 1200px;
                    height: 50px;
                    background: #0023C0;
                    transform: rotate(153deg);
                }
            }

            .ball1 {
                position: absolute;
                top: 310px;
                left: 50%;
                margin-left: -590px;

                .inner {
                    background: url(../public/home/ball.svg) no-repeat center/100% auto;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 70px;
                    height: 70px;
                    z-index: 10;
                }

                .shadow {
                    background: #0029C4;
                    position: absolute;
                    left: 10px;
                    top: 120px;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    z-index: 9;
                }
            }

            .ball2 {
                position: absolute;
                left: 50%;
                margin-left: 260px;
                top: 110px;

                .inner {
                    background: url(../public/home/ball.svg) no-repeat center/100% auto;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 80px;
                    height: 80px;
                    z-index: 10;
                }

                .shadow {
                    background: #0029C4;
                    position: absolute;
                    left: 8px;
                    top: 120px;
                    width: 64px;
                    height: 64px;
                    border-radius: 50%;
                    z-index: 9;
                }
            }

            .ball3 {
                position: absolute;
                left: 50%;
                margin-left: -270px;
                top: 620px;

                .inner {
                    background: url(../public/home/ball.svg) no-repeat center/100% auto;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 60px;
                    height: 60px;
                    z-index: 10;
                }

                .shadow {
                    background: #0029C4;
                    position: absolute;
                    left: 10px;
                    top: 80px;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    z-index: 9;
                }
            }

            .arrow {
                background: url(../public/home/arrow.svg) no-repeat center/100% auto;
                position: absolute;
                width: 160px;
                height: 200px;
                left: 50%;
                top: 430px;
                margin-left: -570px;
            }

            .arrow2 {
                background: url(../public/home/arrow.svg) no-repeat center/100% auto;
                position: absolute;
                width: 160px;
                height: 200px;
                left: 50%;
                top: 30px;
                margin-left: 370px;
            }

            .card {
                position: absolute;
                left: 50%;
                top: 60px;
                margin-left: -440px;
                width: 40%;
                height: 530px;

                .inner {
                    background: url(../public/home/card.svg) no-repeat center/100% auto;
                    position: absolute;
                    width: 100%;
                    height: 530px;
                    z-index: 10;
                }

                .shadow {
                    background: url(../public/home/card_shadow.svg) no-repeat center/100% auto;
                    position: absolute;
                    width: 100%;
                    height: 530px;
                    z-index: 9;
                    top: 30px;
                    left: -8px;
                }
            }

            .white_arrow {
                position: absolute;
                left: 50%;
                margin-left: 450px;
                top: 380px;

                .inner {
                    background: url(../public/home/white_arrow.svg) no-repeat center/100% auto;
                    width: 90px;
                    height: 130px;
                    position: absolute;
                    z-index: 10;
                }

                .shadow {
                    background: url(../public/home/white_arrow_shadow.svg) no-repeat center/100% auto;
                    width: 90px;
                    height: 130px;
                    position: absolute;
                    z-index: 9;
                    top: 50px;
                    left: 0px;
                }
            }

            .white_arrow2 {
                position: absolute;
                left: 50%;
                top: 420px;
                margin-left: 550px;

                .inner {
                    background: url(../public/home/white_arrow2.svg) no-repeat center/100% auto;
                    width: 90px;
                    height: 130px;
                    position: absolute;
                    z-index: 10;
                }

                .shadow {
                    background: url(../public/home/white_arrow2_shadow.svg) no-repeat center/100% auto;
                    width: 90px;
                    height: 130px;
                    position: absolute;
                    z-index: 9;
                    top: 40px;
                    left: 0px;
                }
            }

            .border {
                background: url(../public/home/border.svg) no-repeat center/ 100% auto;
                left: 50%;
                width: 450px;
                height: 430px;
                margin-left: 460px;
                top: 280px;
                position: absolute;
            }

            .dot1 {
                border: 4.5px solid #2370FD;
                position: absolute;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                left: 50%;
                margin-left: 390px;
                top: 390px;
            }

            .dot2 {
                border: 4.5px solid #2370FD;
                position: absolute;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                left: 50%;
                margin-left: 440px;
                top: 369px;
            }

            .dot3 {
                border: 4.5px solid #2370FD;
                position: absolute;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                left: 50%;
                margin-left: 488px;
                top: 350px;
            }

            .text {
                position: absolute;
                z-index: 11;
                left: 50%;
                color: #fff;
                font-family: Product;
                top: 450px;
                text-shadow: 1px 1px 5px rgb(0 0 0 / 20%);

                h1 {
                    font-size: 60px;
                }

                p {
                    font-size: 50px;
                }
            }

            .launch {
                background: #FFD752;
                color: #F05F37;
                left: 50%;
                top: 615px;
                border-radius: 12px;
                border: 5px solid #084DD4;
                padding: 10px 40px 10px 20px;
                font-family: Product;
                position: relative;
                cursor: pointer;
                font-weight: bold;
                cursor: pointer;

                i {
                    background: url(../public/home/launch_arrow.svg) no-repeat center/20% auto #FFC931;
                    position: absolute;
                    right: 0;
                    height: 100%;
                    width: 30px;
                    top: 0;
                    border-top-right-radius: 12px;
                    border-bottom-right-radius: 12px;
                }
            }

            .star {
                position: absolute;
                left: 50%;
                margin-left: -530px;
                top: 680px;

                .inner {
                    background: url(../public/home/star.svg) no-repeat center/100% auto;
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    z-index: 10;
                }

                .shadow {
                    background: url(../public/home/star_shadow.svg) no-repeat center;
                    width: 40px;
                    height: 40px;
                    left: 5px;
                    position: absolute;
                    z-index: 9;
                    top: 50px;
                }
            }
        }

        .project {
            width: 1060px;
            height: 600px;
            margin: 0 auto;
        }
        .team{
            
            .title{
                font-size: 30px;
                color: #fff;
                font-family: Product;
            }
            .content{
                background: url(../public/home/team_bg.svg) no-repeat center/auto 100%;
                height: 540px;
            }
        }
    }
