@font-face {
    font-family: Robodron-Bold;
    src: url(../public/font/Robodron_Bold.ttf) format("truetype");
    font-weight: bolder;
    font-style: normal
}


@font-face {
    font-family: Robodron;
    src: url(../public/font/Robodron.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: NetflixSans;
    src: url(../public/font/NetflixSans.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: AndaleMono;
    src: url(../public/font/AndaleMono.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Copperplate;
    src: url(../public/font/Copperplate.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

.container {
}