@font-face {
    font-family: Robodron-Bold;
    src: url(../public/font/Robodron_Bold.ttf) format("truetype");
    font-weight: bolder;
    font-style: normal
}


@font-face {
    font-family: Robodron;
    src: url(../public/font/Robodron.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: NetflixSans;
    src: url(../public/font/NetflixSans.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: AndaleMono;
    src: url(../public/font/AndaleMono.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Copperplate;
    src: url(../public/font/Copperplate.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Product;
    src: url(../public/font/Product-Sans-Regular-2.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

.header {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 999;
    .navbar {
        padding: 22px 0;
        .logo {
            background: url(../public/layout/logo.svg) no-repeat center/100% auto;
            float: left;
            width: 120px;
            height: 40px;
        }
        ul{
            float: right;
            font-family: Product;
            li{
                display: inline-block;
                font-size: 16px;
                color: #fff;
                padding: 8px 25px;
                margin: 0 10px;
                cursor: pointer;
                border: 2px solid transparent;
                border-radius: 35px;
                &.active, &:hover{
                    border: 2px solid #fff;
                }
            }
        }
    }
}

.main{
    position: relative;
    overflow: hidden;
    top: -136px;
}